/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1025px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$light-green:#9DE6CF;
$green:#55BF9E;
$navy: #1B4965;
$light-blue: #98C1D9;
$coral:#F1AB86;
$orange:#EA8652;
$pale-cream:#FFF2DA;
$cream:#F7DBA7;
$gray:#9CAFB7;


