/* =============
    Base
============= */
figure {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.show-for-xl {
    display: none;

    @include xl {
        display: block;
    }
}

.grid-container {
    //padding for responsive sizes
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include xl {
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: container;
    }
}

.grid-container-carousel{
    @include xl {
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: container;
    }
}

.grid-container-header {
    //padding for responsive sizes
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include md {
        grid-template-columns: 30px auto 30px;
    }

    @include md {
        grid-template-columns: 35px auto 35px;
    }

    @include xl {
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: container;
    }
}

.grid-container-lg {
    @include xl {
        grid-template-columns: auto 1440px auto;
        display: grid;

        grid-template-areas: ". container .";
    }

    >div {
        grid-area: container;
    }
}



.content-spacing {
    //padding above/below sections
    padding: 30px 0px;

    @include lg {
        padding: 90px 0px;
    }

}



.subhead-spacing {
    h1 {
        padding-bottom: 20px;
    }

    h2 {
        padding-bottom: 10px;
    }


    @include lg {
        h1 {
            padding-bottom: 30px;
        }

        h2 {
            padding-bottom: 30px;
        }

    }


}

.hero-scribble{
    display: inline;
    text-align: center;
    padding-top: 50px;
    height: 220px;

    @include lg {
        height: 320px;
        padding-top: 50px;
        padding-left: 20px;
    }
}

.hero-scribble-2{
    display: inline;
    text-align: center;
    // padding-top: 50px;
    height: 150px;

    @include lg {
        height: 270px;
        // padding-top: 90px;
    }
}

.review{
    border: 1px red solid;
    

    @include md{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas: "reviewphoto reviewtext";
        
    }

    @include lg{
        grid-template-columns: 30% auto;
    }

    @include lg{
        grid-template-columns: 30% auto;
        margin: 50px 200px;
    }

    aside{
        grid-area: reviewphoto;
        border: 2px pink solid;
        display: grid;
        
        
        img{
            margin-left: auto;
            margin-right: auto;
            height: 150px;
            border-radius: 100px;

            @include lg{
                height: 200px;
            }
        }
        p{
            text-align: center;
            font-family: 'Caveat', cursive;
            font-weight: 700;
            color: $navy;
            padding-top: 10px;
            font-size: rem-calc(25);
            padding-bottom: 20px;

            @include md{
                font-size: rem-calc(23);
            }

            @include lg{
                font-size: rem-calc(25);
            }
        }
    }
    article{
        grid-area: reviewtext;
        margin-top: auto;
        margin-bottom: auto;
        p{
            border: 1px green solid;
            
            
            
            @include md{
                padding: 0px 50px;
            }

            @include lg{
                padding: 0px 50px;
            }

            @include xl{
                padding: 0px 150px;
            }
            
            
        }
    }
}