#classes-hero {
    background-image: url('../img/Classes/classhero.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;

    @include lg {
        height: 700px;
    }

    .hero-scribble {
        padding-top: 105px;
        height: 120px;
    
        @include lg {
            height: 150px;
            padding-top: 165px;
        }
    }
}