/* =============
    Classes Content
============= */
#classes-hero {
	background-image: url('../img/Classes/classhero.jpg');
	background-position: center;
	background-size: cover;
	height: 500px;
	text-align: center;
	@include lg {
		height: 700px;
	}
	h1 {
		color: $navy;
	}
	.hero-scribble {
		height: 120px;
		padding-top: 105px;
		@include lg {
			height: 160px;
			padding-right: 15px;
			padding-top: 155px;
		}
	}
}
/* =================
     Times Info
==================== */
#classes-times {
	padding-top: 0px;
	>div {
		@include md {
			display: grid;
			grid-template-areas: "classtext classtime";
			grid-template-columns: 50% auto;
		}
		@include lg {
			grid-template-columns: 60% auto;
		}

		article:nth-child(1) {
			background-color: $pale-cream;
			@include md {
				grid-area: classtext;
			}
			div {
				
				p {
					padding-left: 50px;
					padding-right: 50px;
					text-align: justify;
					@include md {
						padding-left: 40px;
						padding-right: 40px;
						text-align: left;
					}
					@include lg {
						padding-left: 100px;
						padding-right: 100px;
					}
				}
			}
		}

		article:nth-child(2) {
			padding-bottom: 20px;
			padding-top: 50px;
			

			@include md {
				align-items: center;
				display: flex;
				grid-area: classtime;
				justify-content: center;
				padding-top: 0px;
			}

			div{	
				text-align: center;
				position: relative;

				h2{
					@include lg{
						padding-bottom: 15px;
					}
				}

				img{
					position: absolute;
					top: -25px;
					left: 95px;
					height: 160%;
					z-index: -1;
					
					@include md{
						left: 0px;
						height: 180%;
						top: -30px;
					}
					// height: 100%;

					@include lg{
						height: 180%;
						left: -30px;
						top: -40px;
					}
				}
			}

			// aside{
			// 	img{
			// 		position: absolute;
					
			// 		height: 20%;

			// 		@include lg{
			// 			height: 100%;
			// 		}
			// 	}
			// }
		}
	}
}
/* =================
     Carousel
==================== */
#classes-carousel {
	>div {
		.my-slider {
			div {
				height: 200px;
				@include md {
					height: 300px;
				}
				@include lg {
					height: 460px;
				}
				img {
					height: 100%;
					object-fit: cover;
					object-position: center;
					width: 100%;
				}
			}
		}
	}
}
