/* =============
    Gallery Content
============= */
#gallery-header {
	background-color: $navy;
	#gallery-title-scribble {
		text-align: center;
		h1 {
			color: $navy;
			position: relative;
			top: 100px;
			@include lg {
				top: 150px;
			}
		}
		#gallery-title-scribble {
			padding-bottom: 60px;
			@include lg {
				height: 220px;
			}
		}
		#gallery-bg-scribble {
			// left: 150;
			height: 200px;
			object-fit: cover;
			object-position: 0px -50px;
			position: absolute;
			text-align: center;
            width: 300px;
            
            // @include md {
			// 	height: 100%;
			// 	margin-left: -100px;
			// 	margin-top: -30px;
			// 	object-fit: none;
			// 	object-position: 0px 0px;
			// 	position: absolute;
			// 	width: 20%;
            // }
            
			@include lg {
				height: 100%;
				margin-left: -700px;
				margin-top: -30px;
				object-fit: none;
				object-position: 0px 0px;
				position: absolute;
				width: 100%;
			}
		}
	}
}
#gallery-gallery {
	ul {
		display: grid;
		gap: 20px;
        grid-template-rows: repeat(4, 330px);
        
        
		@include md {
			gap: 15px;
			grid-template-areas: "one two"
                "one three"
                "four four";
			grid-template-columns: auto 60%;
			grid-template-rows: 330px 350px 225px;
		}
		@include lg {
			gap: 20px;
			grid-template-areas: "one one one one one two two two two two two two"
                "three three three three five five five five six six six six"
                "four four four four five five five five six six six six";
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 410px auto 305px;
		}
		@include xl {
			// grid-template-areas: // gap: 20px;
			// grid-template-columns: repeat(16, 1fr);
			// grid-template-rows: 410px 550px 305px 305px;
		}
		li {
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		li:nth-child(1) {
			@include md {
				grid-area: one;
			}
		}
		li:nth-child(2) {
			@include md {
				grid-area: two;
			}
		}
		li:nth-child(3) {
			@include md {
				grid-area: three;
			}
		}
		li:nth-child(4) {
			@include md {
				grid-area: four;
			}
		}
		li:nth-child(5) {
			@include lg {
				grid-area: five;
			}
		}
		li:nth-child(6) {
			@include lg {
				grid-area: six;
			}
		}
		li:nth-child(7) {
			@include xl {
				grid-area: seven;
			}
		}
	}
}
