/* =============
    Gallery Content
============= */
#gallery-header {
	background-color: $navy;

	background-image: url('../img/Gallery/bluebg2.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;

	@include lg{
		height: 300px;
		background-size: contain;
	}

	@include xl{
		background-size: contain;
	}

	h1{
		position: static;
		text-align: center;
		padding-top: 65px;
		color: $navy;

		@include lg{
			padding-top: 90px;
		}

		@include lg{
			padding-top: 100px;
		}

	}

	// #gallery-title-scribble {

	// 	h1 {
	// 		color: $orange;
	// 		text-align: center;
	// 	}
		
	// }
}
#gallery-gallery {
	ul {
		display: grid;
		gap: 20px;
        grid-template-rows: repeat(4, 330px);
        
        
		@include md {
			gap: 15px;
			grid-template-areas: "one two"
                "one three"
                "four four";
			grid-template-columns: auto 60%;
			grid-template-rows: 330px 350px 225px;
		}
		@include lg {
			gap: 20px;
			grid-template-areas: "one one one one one two two two two two two two"
                "three three three three five five five five six six six six"
                "four four four four five five five five six six six six";
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 410px auto 305px;
		}

		@include xl{
			grid-template-columns: 25% 20% 15% auto;
			grid-template-rows: 400px 550px 300px 300px;
			grid-template-areas: 
				"one one two two"
				"seven seven seven seven"
				"three five five six"
				"four five five six";
		}

		
		li {
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		li:nth-child(1) {
			@include md {
				grid-area: one;
			}
		}
		li:nth-child(2) {
			@include md {
				grid-area: two;
			}
		}
		li:nth-child(3) {
			@include md {
				grid-area: three;
			}
		}
		li:nth-child(4) {
			@include md {
				grid-area: four;
			}
		}
		li:nth-child(5) {
			display: none;
			@include lg {
				display: block;
				grid-area: five;
			}
		}
		li:nth-child(6) {
			display: none;
			@include lg {
				display: block;
				grid-area: six;
			}
		}
		li:nth-child(7) {
			display: none;
			@include xl {
				display: block;
				grid-area: seven;
			}
		}
	}
}
