/* =============
    Header
============= */

header{
    div{

        display: grid;
        grid-template-columns: repeat(2,1fr);

        #logo-container{
            padding: 10px 0px;
        }

        #burger-container{
            font-size: rem-calc(20);
            color: $green;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}